@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Choose your meal:</p>
    <ul>
        @foreach (var m in Model.Meals)
        {
            <li>
                <input type="radio" /> @m.Obj.Name
            </li>
        }
    </ul>
    <p>Choose your drink:</p>
    <ul>
        @foreach (var m in Model.Drinks)
        {
            <li>
                <input type="radio" /> @m.Obj.Name
            </li>
        }
    </ul>
</div>
